body {
  margin: 0;
  padding: 0;
  background-color: white;
}


.Navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #4E4351;
  padding: 20px 0 20px 0;
  width: 100vw;
  background-color: white;
  opacity: .9;
}

a {
  text-decoration: none;
}

.Navbar ul li {
    list-style: none;
    position: relative;
    display:block;
    padding:14px 16px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #4E4351;
    font-weight: bold;
    transition: .5s;
}
.Navbar ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid palevioletred;
  transform: scaleY(2);
  opacity: 1;
  transition: .5s;
}
.Navbar ul li:hover:before {
  transform: scaleY(1);
  opacity: .8;
  }

.Navbar ul li:after {
  content: "";
  position: absolute;
  color: rgb(216,227,236);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}

.Navbar ul li:hover:after {
  transform: scaleY(1);
  opacity: .5;
  background-color: palevioletred;
}

.Main {
  border: solid black;
  background-color: white;
  display: flex;
  padding: 10px 100px 10px 100px;
}

.Main img {
  margin: 10px;
  border: solid #4E4351;
}

.Footer {
  border: solid black;
}

.Footer ul, p {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.Volunteer-form {
  padding: 15px;
  margin: 0 0 0 200px;
  width: 400px;
  border: 1px #eee solid;
  background-color: palevioletred;
}

/* // */
.Volunteer-form label {
  font-size: 20px;
  color: #4E4351;
}

.Volunteer-form input {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  display: block;
}

.Volunteer-form button {
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}

.Find-a-pet {
  display: flex;
  justify-content: center;
  background-color: blue;
}



.Pet-list {
  flex-direction: column;
  justify-content: flex-end;
  border: solid lightpink;
  width: 250px;
  cursor: pointer;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.Pet-list img {
  border: solid lightpink;
  cursor: pointer;
  width: 200px;
  height: 200px;
}
