body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

.Navbar {
  position: sticky;
  margin: 0 10px 0 10px;
}

.Navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #4E4351;
  padding: 20px 0 20px 0;
  background-color: white;
  opacity: .9;
}

a {
  text-decoration: none;
}

.Navbar ul li {
    list-style: none;
    position: relative;
    display:block;
    padding:14px 16px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #4E4351;
    font-weight: bold;
    transition: .5s;
}
.Navbar ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid palevioletred;
  transform: scaleY(2);
  opacity: 1;
  transition: .5s;
}
.Navbar ul li:hover:before {
  transform: scaleY(1);
  opacity: .8;
  }

.Navbar ul li:after {
  content: "";
  position: absolute;
  color: rgb(216,227,236);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}

.Navbar ul li:hover:after {
  transform: scaleY(1);
  opacity: .5;
  background-color: palevioletred;
}

.Main {
  background-color: white;
  border: solid palevioletred;
  display: flex;
  max-height: 921px;
  padding: 10px 200px 100px 200px;
  margin: 0 10px 55px 10px;
}

.Main img {
  margin: 10px;
  width: 50%;
  height: 50%;
  min-width: 332px;
  min-height: 478px;
  border: solid #4E4351;
}

.Volunteers .Main {
  padding: 100px 0 200px 0;
}

.About {
  min-width: 373px;
  max-width: inherit;
  min-height: 546px;
  max-height: inherit;
}



.Footer {
  background-color: palevioletred;
  position: sticky;
  font-family: sans-serif;
  font-size: 20pt;
  background-image: linear-gradient(gray, lightpink, gray);
}


.Footer img {
  width: 50%;
  height: 50%;
}

.Footer ul, a, p {
  padding-top: 10px;
  padding-bottom: -10px;
  font-size: 14pt;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}


.Volunteers {
  display: flex;
  max-height: 700px;
  background-color: white;
}

.Wrapper {
  padding-bottom: 50px;
}

.Wrapper Main h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Wrapper label {
  justify-content: flex-start;
}

.Volunteer-heading {
  text-align: center;
}

.Form-photo-fill {
  width: 500px;
  height: 100vh;
  margin: 0 0 0 200px;
  border: 2px palevioletred solid;

}
.Volunteer-form {
  padding: 25px;
  margin: 0 0 0px 0;
  width: 400px;
  border: 2px lightgray solid;
  background-color: palevioletred;
  align-self: center;
  text-align: left;
}

.Volunteer-form label {
  font-size: 20px;
  color: #4E4351;
}

.Volunteer-form input {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
  padding: 5px;
  display: block;
}

.Center {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction:row;
}

.Volunteer-form button {
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}

.Find-a-pet {
  display: flex;
  flex-direction:row;
  justify-content: center;
  background-color: lightgray;
}


.Selected-pets {
  display: flex;
  width: 400px;
  height: 100vh;
  flex-direction: column;
}

.Selected-pets img {
  width: 300px;
  height: 300px;
  margin: 0 50px 0 50px;

}


.Pet-list {
  margin: 0 50px 0 50px;
  flex-direction: column;
  justify-content: flex-end;
  border: solid gray;
  background-color: palevioletred;
  height: 100vh;
  width: 450px;
  cursor: pointer;
  overflow-y: scroll;
  scroll-behavior: auto;
}

.List-item {
  text-align: center;
}

.Pet-list img {
  border: solid lightpink;
  cursor: pointer;
  width: 200px;
  height: 200px;
}

.Select-click{
  display:flex;
  flex-direction: row;
}

.Select-click ul {
  margin-top: 250px;
}
