.Nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  border: solid black;
  padding: 20px 0 20px 0;
}

.Main {
  border: solid black;
  display: flex;
  padding: 10px 100px 10px 100px;
}

.Main img {
  margin: 10px;
}

.Footer {
  border: solid black;
}

.Footer ul, p {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
