.side-menu {
  height: 100%;
  background: lightgray;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  z-index: 200;
}

.side-menu ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-menu li {
  margin: 0.5rem 0;
}

.side-menu a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-menu a:hover {
  background-color: palevioletred;
  color: lightgray;
}
