.Navbar {
  position: fixed;
  top: -20px;
  width: 100%;
  margin: 0;
  min-width: 840px;
}

.Navbar ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: #4E4351;
  padding: 20px 0 20px 0;
  background-color: white;
  opacity: 1;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);

}

a {
  text-decoration: none;
}

.Navbar ul li {
    list-style: none;
    position: relative;
    display:block;
    padding:14px 16px;
    margin: 20px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #4E4351;
    font-weight: bold;
    transition: .5s;
}
.Navbar ul li:before {
  content: "";
  position: absolute;
  color: #4E4351;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid palevioletred;
  transform: scaleY(2);
  opacity: 1;
  transition: .5s;
}
.Navbar ul li:hover:before {
  transform: scaleY(1);
  opacity: .8;
  }

.Navbar ul li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}

.Navbar ul li:hover:after {
  transform: scaleY(1);
  opacity: .5;
  background-color: palevioletred;
}
